/* Menu bar */
nav#horizontal {
background: url(../../images/theme/brown/menu.png) center top;
}

/* Links color */
a { color: #792908; }
a:hover{ color: #AE510C; }

/* Passive hedings link color */
h1a, h2 a, h3 a, h4 a , h5 a, h6a{
	color: #444;
}


