/* Menu bar */
nav#horizontal {
background: url(../../images/theme/brown2/menu.png) center top;
}

/* Links color */
a { color: #514946; }
a:hover{ color: #696360; }

/* Passive hedings link color */
h1a, h2 a, h3 a, h4 a , h5 a, h6a{
	color: #444;
}


