/* Menu bar */
nav#horizontal {
background: url(../../images/theme/green2/menu.png) center top;
}

/* Links color */
a { color: #64982A; }
a:hover{ color: #82B147; }

/* Passive hedings link color */
h1a, h2 a, h3 a, h4 a , h5 a, h6a{
	color: #444;
}


