/* Menu bar */
nav#horizontal {
background: url(../../images/theme/lime/menu.png) center top;
}

/* Links color */
a { color: #8BA920; }
a:hover{ color: #A1BF2B; }

/* Passive hedings link color */
h1a, h2 a, h3 a, h4 a , h5 a, h6a{
	color: #444;
}


