/* Menu bar */
nav#horizontal {
background: url(../../images/theme/pinkred/menu.png) center top;
}

/* Links color */
a { color: #B95067; }
a:hover{ color: #C35A71; }

/* Passive hedings link color */
h1a, h2 a, h3 a, h4 a , h5 a, h6a{
	color: #444;
}


