/* Menu bar */
nav#horizontal {
background: url(../../images/theme/tealgray/menu.png) center top;
}

/* Links color */
a { color: #1E2F36; }
a:hover{ color: #425A64; }

/* Passive hedings link color */
h1a, h2 a, h3 a, h4 a , h5 a, h6a{
	color: #444;
}


