/* Menu bar */
nav#horizontal {
background: url(../../images/theme/teal/menu.png) center top;
}

/* Links color */
a { color: #065657; }
a:hover{ color: #0F6D6D; }

/* Passive hedings link color */
h1a, h2 a, h3 a, h4 a , h5 a, h6a{
	color: #444;
}


