/* Menu bar */
nav#horizontal {
background: url(../../images/theme/violet/menu.png) center top;
}

/* Links color */
a { color: #615DA7; }
a:hover{ color: #6F6CAF; }

/* Passive hedings link color */
h1a, h2 a, h3 a, h4 a , h5 a, h6a{
	color: #444;
}


