/* Menu bar */
nav#horizontal {
background: url(../../images/theme/yellow/menu.png) center top;
}

/* Links color */
a { color: #E1A500; }
a:hover{ color: #E8BC3E; }

/* Passive hedings link color */
h1a, h2 a, h3 a, h4 a , h5 a, h6a{
	color: #444;
}


